*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    width: 70%;
    margin: auto;
}
/* Header start */
#header {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
    z-index: 100;
    background-color: beige;
}

/* Header end */

/* Slide start */
.slide {
    margin: 80px auto 10px;
    height: 300px;
    border-radius: 10px;
}

.slide img {
    width: 100%;
    height: 300px;
}

/* slide end */

/* filter navbar */
.filter {
    display: flex;
    justify-content: space-between;
}

#search {
width: 300px;
}

/* filter end */
/* content start */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    position: relative;
}
.product i {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 30px;
    width: 30px;
}

.product img {
    height: 300px;
}

/* footer nav */
.FootNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 90px;
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: beige;
    padding: 10px 30px;
}


/* footer nav end */